input
  position: fixed
  opacity: 0

label
  position: relative
  cursor: pointer
  color: #9F9F9F
  padding-left: 1.8rem
  &::after
    content: ''
    position: absolute
    left: 0
    top: 50%
    transform: translateY(-50%)
    width: 20px
    height: 20px
    border: solid 2px #9F9F9F
    border-radius: 5px
  &::before
    content: ''
    position: absolute
    left: 0
    top: 50%
    transform: translate(7px, -65%) rotate(45deg)
    width: 8px
    height: 14px
    border-right: solid 2px #7967FF
    border-bottom: solid 2px #7967FF
    opacity: 0

input:checked + label
  color: #7967FF
  &::after
    border-color: #7967FF
  &::before
    opacity: 1
