<div class="input-container">
  <input
    ngx-google-places-autocomplete
    [options]='options'
    [value]="value || ''"
    class="input"
    (onAddressChange)="emitAddress($event)"
    placeholder="Buscar endereço"/>
  <fa-icon [icon]="faSearch" class="icon"></fa-icon>
</div>
