<div class="fixed-container">
  <div class="background"></div>
  <div class="content">
    <h3 class="title">
      Pedido realizado
    </h3>
    <p class="thanks">
      Obrigado pro comprar na Shipp :D
    </p>
    <p class="price">
      Valor do pedido: R$ 30,00
    </p>
    <button class="btn btn--white" (click)="resetApplication()">
      Concluir
    </button>
  </div>
</div>
